html {
  box-sizing: border-box;
}
body {
  background-color: rosybrown;
}

table {
  width: 100%;
  border: 2px solid gray;
  height: 200px;
}

.addTask{
  display: flex;
  justify-content: space-between;
  /* margin: px; */
}

.taskString{
  padding: 3px;
  margin: 1px 2px;
  height: 20px;
}
.infoString{
  width: 500px;
  padding: 3px;
  margin: 1px 2px;
  height: 20px;
}
.toDoTable {

  thead{
    background-color: beige; 
    th{
      width: 50%;
    }
    
    .task{
      /* padding: 0 10px;   */
      /* background-color: #b22222; */
      /* width: 45%; */
    }
     
    .info{
      /* padding: 0 10px; */
      /* background-color: aquamarine; */
      /* width: 40%; */
    }
    
    /* text-align: center; */
    
   
    
  }
  

}

.task{
  /* background-color: rgb(220, 197, 197); */
  /* width: 45%; */
}
.info{
  width: 45%;

}
/* tr {
  /* display: flex; */
/* justify-content: space-between; */

/* td {
  display: flex;
  align-items: center;
} */
/* 
.loadMoreCompletedTasks {
  margin: 10px;
  display: none;
}
